<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <head>

    </head>
    <main>
        <form action="" method="POST">      
            <input type="name" id="name" placeholder="Nombre">
            <input type="telephone" id="telephone" placeholder="Numero de telefono">
            <input type="email" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Contraseña">
            <button>Enviar</button>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>