<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
    <header>

    </header>
    <main>
        <form action="" method="POST" class="form">
            <h2 class="form-title">Inicio de sesión</h2>
                <p class="form_paragraph">¿Aún no tienes tu cuenta? <a href="#" class="form_link">Click aquí</a></p>
                <div class="form-container">
                    <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input class="inputs-r" type="email" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label form="password" class="form-label">Contraseña</label>
                        <input class="inputs-r" type="password" id="password" placeholder="Contraseña">
                    </div>   
                </div> 
            <button type="submit" class="form_submit" vlaue="Entrar">Enviar</button>
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>